// Import page-specific CSS files here.
@import "home";
@import "showboat";

body {
  background-color: #FFF;
  min-height: 100vh;
}

.margin-top-negative {
  margin-top: -75px;
}

.margin-fix {
  margin-top: 50px;
}
