<div class="navbar-container">

<%= image_tag "logo", width: '80px' %>


  <input type="text" class="searchbar" placeholder=" kickstart your trip...">

  <div class="account-container">
    <a href="#" id="linkstyling">Become a host</a>

<%= image_tag "avatar", width: '50px' %>  </div>

</div>

