<div class="navbar-container">

  <!-- How to add an svg logo? (with transparency) -->

<%= image_tag 'logo', class: "logo" %>
  <!-- How to add a logo in the search bar? -->

  <input type="text" class="searchbar" placeholder=" kickstart your trip...">

  <div class="account-container">
    <%= link_to "Become a host", user_path, id:"linkstyling", method: "patch" %>
    <div class="nav-item dropdown">
        <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">My boats</a>
          <a class="dropdown-item" href="#">Logout</a>
        </div>
      </div>
  </div>

</div>

