<div class="navbar-container">

  <!-- How to add an svg logo? (with transparency) -->

  <img src="https://e7.pngegg.com/pngimages/1021/267/png-clipart-motor-boats-yacht-computer-icons-boat-logo-monochrome.png" alt="bookaboat logo" class="logo">

  <!-- How to add a logo in the search bar? -->

  <input type="text" class="searchbar" placeholder=" kickstart your trip...">

  <div class="account-container">
    <%= link_to "Become a host!   ", user_path, id:"linkstyling", method: "patch" %>
    <%= link_to "Logout", destroy_user_session_path, id:"linkstyling", method: "delete" %>


    <img src="https://cdn.business2community.com/wp-content/uploads/2017/08/blank-profile-picture-973460_640.png" alt="Account avatar" class="avatar-bordered">
  </div>

</div>
