.home-cards {
  display: flex;
  justify-content: space-around;
}

.home-card {
  width: 300px;
  text-align: center;
  padding: 20px;
}

.home-card p {
  opacity: .5;
  font-size: small;
}


@media (max-width: 1000px) {
  .home-cards {
    flex-direction: column;
    justify-content: space-around;
  }
  .home-card {
    width: 400px;
    text-align: center;
    padding: 20p 30px;
    margin: 0 auto;
  }

}
