.home-cards {
  display: flex;
  justify-content: space-around;
}

.home-card {
  width: 80%;
  text-align: center;
  padding: 20px;
  margin: 0 auto;
}

.home-card p {
  opacity: .5;
  font-size: small;
}

@media only screen and (max-width: 800px) {
  .home-cards {
    flex-direction: column;
  }
}
