.mapboxgl-popup {
  max-width: 30px;
  height: 30px;
}

.mapboxgl-popup h2 {
 font-size: 12px;
}

.mapboxgl-popup p {
 font-size: 10px;
}

.mapboxgl-popup-content {
  margin: 10px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
