.navbar-container {
  height: 8vh;
  width: 100%;
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10vw 0 10vw;
  background-color: white;
  z-index: 1001;
  position: fixed;
  top: 0px;
}
.account-container {
  display: flex;
  align-items: center;
}

.logo {
 height: 50px;
}

.searchbar {
  border-radius: 50px;
  border: 2px solid lightgrey;
  font-size: 12px;
  height: 40px;
  width: 30%;
  margin-left: 50px;
  text-align: center;
  font-family: "Nunito", "Helvetica", "sans-serif";
}

.nav-item {
  margin-left: 10px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

