.navbar-container {
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10vw 0 10vw;
}

.logo {
 height: 50px;
}

.searchbar {
  border-radius: 15px;
  border: 1px solid lightgrey;
  font-size: 12px;
  height: 40px;
  width: 30vw;
  margin-left: 40px;
}

#linkstyling {
  text-decoration: none;
  color: black;
  :hover {
    color: grey;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

