.search-form {
  flex-grow: 1;
  position: relative;
  margin: 0 30px;

  form {
    width: 100%;

    input {
      width: 100%;
      height: 42px;
    }
  }

  i {
    position: absolute;
    top: 14px;
    right: 18px;
    color: $midblue;
  }
}

@media only screen and (max-width: 650px) {
  .search-form {
    display: none;
  }
}
