<h1 class="text-center mt-2 mb-4">Out Boats</h1>

<div class="container">
  <div class="cards-grid">
    <% @boats.each do |boat| %>
        <div class="card-boat">
          <img src="https://images.unsplash.com/photo-1576638994386-8bce04e2f4cb?  ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=651&q=80"/>
          <div class="card-boat-infos">
            <div>
              <h2><%= boat.name %></h2>
              <p><%= boat.description %></p>
            </div>
            <h4>€<%= boat.price %>/day</h4>
          </div>
        </div>
    <% end %>
  </div>
</div>
