

<div class="boat-show">
  <div class="boat-banner-image" style="background-image: url('<%= cl_image_path @boat.photo.key, height: 500, crop: :scale %>')">
  </div>
  <br>

  <div class="boat-title-price">
  <h4><%= @boat.name %> </h4>
  <h4>€<%= @boat.price %> </h4>
  </div>
  <hr>
  <div class="info-section">
  <p><%= @boat.description %> </p>
  <a href="#" class="button-styling">Book boat</a>
  </div>
</div>
